body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: .9em;
}

h1 {
    font-size: 1.5em;
    color: #334499;
}

a {
  text-decoration: none;
  color: #7524D8;
}

.headerBox {
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
}

.contentBox {
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  margin-top: 25px;
}

.footerBox {
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

td, th {
  border: 1px solid #ddd;
  padding: 5px;
}

td span {
  vertical-align: middle;
}
td img {
  vertical-align: middle
}
  
td a {
  text-decoration: none;
  vertical-align: middle;
  color: #7524D8;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #865DAD;
  color: white;
  font-size: 16px;
}

th a {	
  text-decoration: none;
  color: white;
}

tr:nth-child(even) {
  background-color: #E6E6E6;
}

tr:hover {
  background-color: #DFD8F3;
}

.headerNavigationBar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #AF9DE0;
  text-transform: uppercase;
}

.headerButton {
  float: left;
  border-right: 1px solid #bbb;
}

.headerButton a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  background: #865DAD;
  /*font-family: 'Ubuntu Condensed', sans-serif;*/
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
}

.headerButton a:hover, .headerButton a:focus {
  color: #230033;
  background: #A775FF;
}

.pageSelect {
  margin: 5px;
}

.footerText {
  font-size: 12px
}

.errorBox {
  background: #ff009985;
  border: 2px solid black;
  margin: 6px;
  padding: 3px;
  width: fit-content;
}

  .errorBox span {
    font-size: large;
    font-weight: bold;
  }

.linkWithImage {
  margin-left: 6px;
}

.linkWithImage img {
  vertical-align: text-top;
  margin-right: 3px;
}

.linkWithImage:first-of-type {
  margin-left: 0px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.valueBoxes {
	margin-top: 5px;
	margin-bottom: 5px;
	clear: left;
}

.valueBox {
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	border: 2px solid #865DAD;
	box-sizing: border-box;
	width: 10%;
	float: left;
	margin-right: 5px;
}

.statValueBox {
  font-weight: bold;
	padding: 10px 0;
	text-align: center;
	border: 2px solid #865DAD;
	box-sizing: border-box;
	width: 10%;
	float: left;
	margin-right: 5px;
	font-size: 10px;
	min-width: 100px;	
}

  .statValueBox div {
    font-size: 25px;
  }

.darkBorder {
	border: 2px solid #000;
}

.dateValueBox {
  font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-size: 10px;
	padding: 5px 0;
	border: 1px solid #865DAD;
	width: 15%;
	min-width: 120px;
	margin-right: 2px;
}

  .dateValueBox div {
    font-size: 13px;
  }

.playerInfoBlock {
	margin: 10px 0px 10px 0px;
}

.playerInfoDiv {
  float: left;
  padding: 5px;
  border: 2px solid #865DAD;
  margin-right: 5px;
}

.playerName {
  font-size: 26px;
}

.playerLinkDiv {
  margin-top: 6px
}

.moeCount {
  font-size: 30px;
  font-weight: bold;
}

.clanInfoDiv {
  border: 2px solid #865DAD;
  padding: 5px;
  float: left;
}

  .clanInfoDiv img {
    vertical-align: text-top;
  }

  .clanInfoDiv a {
    text-decoration: none;
  }

  .clanInfoDiv span {
    font-size: 22px;
  }

.clanLinkDiv {
  margin-top: 6px
}

.clanIcon {
  height: 32px;
  width: 32px;
  vertical-align: bottom;
}

.playerImageDiv {
	float: left;
	margin: 0px 5px 0px 0px;
	border: 2px solid #865DAD;
	height: 128px;
}

.image3moe {
	height: 34px;
	width: 38px;
}

.cVeryBad {
	background-color:#930D0D;
	color: #fff;
}
.cBad {
	background-color:#CD3333;
	color: #fff;
}
.cBelowAverage {
	background-color:#CC7A00;
	color: #fff;
}
.cAverage {
	background-color:#CCB800;
	color: #fff;
}
.cAboveAverage {
	background-color:#849B24;
	color: #fff;
}
.cGood {
	background-color:#4D7326;
	color: #fff;
}
.cVeryGood {
	background-color:#4099BF;
	color: #fff;
}
.cGreat {
	background-color:#3972C6;
	color: #fff;
}
.cUnicum {
	background-color:#793DB6;
	color: #fff;
}
.cSuperUnicum {
	background-color:#401070;
	color: #fff;
}

.clanInfoBlock {
	margin: 10px 0px 0px 0px;
}

.clanInfoWrapper {
  display: inline-block;
  vertical-align: top;
}

.clanImageDiv {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  border: 1px solid #865DAD;
	height: 128px;
}

.externalClanLinks {
	margin-top: 3px;
}

  .externalClanLinks a {
    text-decoration: none;
  }

.clanImage {
	height: 128px;
	width: 128px;
}

.clanName {
	font-size: 26px;
}

.clanTag {
	font-size: 20px;
}

.imageAlignBottom {
	vertical-align: bottom;
}

.tankInfoBlock {
	margin: 10px 0px 10px 0px;
	overflow: auto;
}

.tankImageDiv {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  border: 1px solid #865DAD;
}

.tankImageDiv img {
  display: block;
}

.tankDataDiv {
  display: inline-block;
}

.tankName {
	font-size: 26px;
}

.imageAlignBottom img{
	vertical-align: bottom;
}

.image3moeTank {
	height: 50px;
  width: 56px;
}

.imageNation {
	margin-right: 3px;
}

.imageTankType {
	vertical-align: text-top;
}

.headline {
	font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}